@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%orange_btn_1 {
	@include st_btn;

	font-weight: 700;
	text-transform: uppercase;
	color: $color_white;
	background: linear-gradient(93.93deg, #ff7b3a 69.26%, rgba(255, 123, 58, 0.59) 80.39%, #ff7b3a 95.95%);
	transition: 0.3s ease;
	//border: 2px solid $color_white;

	&:hover {
		opacity: 0.9;
	}
}
%cookie_btn {
	@include st_btn;

	font-weight: 700;
	text-transform: uppercase;
	color: $color_darkgreen;
	background-color: $color_white;
	transition: 0.3s ease;
	border: 0.2rem solid $color_green;

	&:hover {
		border: 0.2rem solid $color_green;
		box-shadow: 0px 0px 15px 0px $color_green;
		color: $color_white;
		background-color: $color_green;
	}
}

//size extends
%btn_size_1 {
	min-width: 32.8rem;
	height: 6.6rem;
	padding: 0 2rem;

	line-height: 6.6rem;
	font-size: 1.8rem;

	border-radius: 0.9rem;
}

%btn_size_2 {
	min-width: 16.2rem;
	height: 5.4rem;
	padding: 0 1.5rem;

	line-height: 5.4rem;
	font-size: 1.7rem;

	border-radius: 1.5rem;
}


