@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%orange_btn_1 {
	@include st_btn;

	font-weight: 700;
	text-transform: uppercase;
	color: $color_white;
	background: linear-gradient(93.93deg, #ff7b3a 69.26%, rgba(255, 123, 58, 0.59) 80.39%, #ff7b3a 95.95%);
	transition: 0.3s ease;
	//border: 2px solid $color_white;

	&:hover {
		opacity: 0.9;
	}
}

%green_btn {
	@include st_btn;

	font-weight: 700;
	color: $color_white;
	background-color: $color_green;
	transition: 0.3s ease;
	box-shadow:
		0px 3.01px 7.52px 0px #9cffb180,
		0px 0px 0px 1.5px #2cc84d,
		0px 1.5px 1.5px 0px #00000024,
		0px 1.5px 0px 0px #9cffb1 inset;

	//border: 0.2rem solid $color_green;

	&:hover {
		color: $color_green;
		background-color: $color_white;
		//box-shadow: 0px 0px 20px 0px $color_green;
	}
}

%cookie_btn {
	@include st_btn;

	font-weight: 700;
	text-transform: uppercase;
	color: $color_darkgreen;
	background-color: $color_white;
	transition: 0.3s ease;
	border: 0.2rem solid $color_green;

	&:hover {
		border: 0.2rem solid $color_green;
		box-shadow: 0px 0px 15px 0px $color_green;
		color: $color_white;
		background-color: $color_green;
	}
}

//size extends
%btn_size_1 {
	min-width: 32.8rem;
	height: 6.6rem;
	padding: 0 2rem;

	line-height: 6.6rem;
	font-size: 1.8rem;

	border-radius: 0.9rem;
}

%btn_size_2 {
	min-width: 16.2rem;
	height: 5.4rem;
	padding: 0 1.5rem;

	line-height: 5.4rem;
	font-size: 1.7rem;

	border-radius: 1.5rem;
}

%btn_size_3 {
	min-width: 25.3rem;
	height: 5rem;
	padding: 0 1rem;

	line-height: 5rem;
	font-size: 2.1rem;

	border-radius: 0.6rem;
}
