@use './helpers/abstracts' as *;

.header {
	display: block;
	background-color: $color_white;
	box-shadow: 0px 10px 50px 0px #0000000d;
	padding: 3.3rem 0;
	width: 100%;
	position: fixed;
	z-index: $z_index_header;
	transition: all $transition_dur ease-in-out;

	&.on_scroll {
		padding: 1rem 0;
	}
}

.header__in {
	display: flex;
	justify-content: space-between;
	column-gap: 5rem;
	align-items: center;
}

.header__items {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.header__logo {
	margin-right: 4.7rem;
}

.cookie_btns {
	display: flex;
	column-gap: 2.7rem;
}

.cookie_img {
	display: block;
	margin-left: 0.9rem;
	width: 1.8rem;
	height: 1.8rem;
	background-color: currentColor;
	mask-image: url(../imgs/cookie.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

.header_btn__star_img {
	display: block;
	margin-right: 1.5rem;
	width: 1.8rem;
	height: 1.8rem;
	background-color: currentColor;
	mask-image: url(../imgs/star.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}
